@font-face{
    font-family: edureka;
    src:url(Windsong.ttf)
}
h1{
    color:tomato;
    font-size:'50px'
}
p{
    color:olive;
    font-family:cursive;
}

#second {
    height: 400px;
    width:400px;
    background-color: rgb(247, 187, 217);
    overflow: scroll;
}

.divone{
    font-weight: 600;
    color:firebrick

}

#myp{
    font-family: edureka;
    font-size:40px;
}

.secondline{
    margin-top:20px;
}